
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>FIndipay</title>
    <meta content="" name="description">

    <meta content="" name="keywords">

    <!-- Favicons -->
    <!-- Google Fonts -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets_loc/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/assets_loc/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets_loc/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/assets_loc/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/assets_loc/vendor/remixicon/remixicon.css" rel="stylesheet">


    <link href="~/Content/assets_loc/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/css/compiled-4.20.0.min.css">

    <link href="~/Content/md_assest/css/mdb.min.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="~/Content/assets_loc/css/style.css" rel="stylesheet">

    <style>
        .test {
            min-height: 200px;
            background-color: red;
        }

        .navbar {
            box-shadow: none;
        }
            .navbar .getstarted, .navbar .getstarted:focus {
                background: #00A7C5;
                height: 40px;
                padding: 8px 20px;
                margin-left: 30px;
                border-radius: 4px;
                color: #fff;
            }
        .modal-dialog.modal-notify.modal-success .modal-header{
            background:none;
            color:#000;
        }
        .modal-dialog.modal-notify .heading{
            color:#000;
        }
        a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover{
            color:white;
        }
        .modal-dialog.modal-notify .modal-header{
            box-shadow:none;
        }
        
    </style>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

                    <a href="index.html" class="logo d-flex align-items-center">
                        <img src="~/Content/assets_loc/images/FindiPay Logo_TEAL.jpg" alt="">
                    </a>

                    <nav id="navbar" class="navbar">
                        <ul>
                            <li class="btn-log"><a class="nav-link scrollto active" href="#hero">HOME</a></li>
                            <li class="btn-log"><a class="nav-link scrollto" href="#about">ABOUT US</a></li>
                            <li class="btn-log"><a class="nav-link scrollto" href="#why">WHY US</a></li>
                            <li class="btn-log"><a class="nav-link scrollto" href="#services">SERVICES</a></li>
                            <li class="btn-log"><a class="nav-link scrollto" href="#contact-main">CONTACT</a></li>


                            <li>
                                <a class="getstarted scrollto" data-toggle="modal" data-target="#fluidModalRightSuccessDemo">LOG IN</a>
                                @*   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fluidModalRightSuccessDemo">Right</button>*@

                            </li>
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                    </nav><!-- .navbar -->

                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero align-items-center">

        <div class="container">
            <div class="row">
                <div style="padding-left: 6.5%; padding-top: 4.6%; padding-right: 5%;" class="col-lg-7 flex-column justify-content-center main-head">
                    <span style="line-height: 55px;" class="top-head-text">Empowering the Unbanked through Financial Inclusion</span>
                    <br />

                    <div class="row">
                        <p>
                            Join us in driving financial inclusion by providing affordable, accessible, and secure digital financial solutions to the unbanked population. Our innovative platform bridges the gap between financial institutions and the unbanked, empowering them to build credit, save money, and achieve financial stability
                        </p>
                    </div>
                    <div class="row">
                        <div class="input-box mt-5">
                            <span class="prefix">+91-</span>

                            <input style="margin-top: -4px; color: #fff;" type="tel" placeholder="0000000000" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-lg-start mt-3">
                            <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                <span style="color: #1e253c">Get a Call</span>

                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 hero-img">

                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/Content/assets_loc/images/mobile.png" data-aos="zoom-out" data-aos-delay="200" class="img-fluid" />
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </section><!-- End Hero -->
    <!---How it works-->
    <section id="values" class="values" style="border-bottom: 1px solid #c4e1c5; ">

        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <header class="section-header text-center">
                        <h5 class="top-title">ABOUT US</h5>
                        <H1>Who we are, what we do.</H1>
                        <p class="text-center" style="padding:2%;">
                            FindiPay is a fast and secure plateform where you can help your customers perform
                            assisted online like - Domestic Money Transfer, Indo-Nepal Money Transfer, Aadhar
                            Enabled Cash Withdrawal, Bill Payments, Mobile & DTH Recharge, Flight & Hotel Booking
                            and Amazon Assisted Shopping! All this and so much more all using cash at your store!
                            <br /><br />
                            We offer you the opportunity to grow your business, increase footfall, create customer
                            loyalty all while making your store the digital payments hub!
                        </p>
                    </header>

                    <div class="row">




                        <section id="counts" class="counts">
                            <div class="container" data-aos="fade-up">

                                <div class="row gy-4">

                                    <div class="col-sm-4">
                                        <div class="count-box text-center">
                                            <div>
                                                <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
                                                <span>M+</span>
                                                <p class="text-center">Total Users</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="count-box text-center">
                                            <div>
                                                <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
                                                <span>K+</span>
                                                <p class="text-center">Avl. Pincodes</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="count-box text-center">
                                            <div class="text-center">
                                                <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1" class="purecounter"></span>
                                                <span>+</span>
                                                <p class="text-center">Active Services</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

    </section><!-- End Values Section -->

    <section id="values" class="values">

        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <header class="section-header text-center">
                        <h5 class="top-title">PROCESS</h5>
                        <H1>How It Works?</H1>
                        <p class="text-center">
                            Our platform aims to provide a smooth and effortless experience for our users. Here's a<br/> detailed breakdown
                        </p>
                    </header>

                    <div class="row">

                        <div class="col-md-12 mt-5">
                            <div class="row">
                                <div class="col-lg-4 text-center">
                                    <span class="process-phase">1</span>
                                   
                                    <br />
                                    <div class="box">
                                        <h3>Generate Query</h3>
                                        <p>Submit your details in contact us form to generate query.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <span class="process-phase text-center">2</span>
                                    <div class="box">
                                        <h3>KYC</h3>
                                        <p>Our representative will collect required documents for verification.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <span class="process-phase">3</span>
                                    <div class="box">
                                        <h3>Start Earning</h3>
                                        <p>Your ID will be activated once verification is complete</p>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </section>

    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">

            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <div class="row gx-0">


                            <div class="col-md-12">
                                <div class="row">
                                    <h5 class="top-title">BENIFITS</h5>
                                    <h1 class="mt-2">One Portal, Multiple Features</h1>
                                    <p style=" padding-left: 8%;padding-right: 8%;">
                                        Effortlessly manage your finances with our digital platform, offering domestic & Nepal money transfers, bill payments, travel booking, credit card & insurance premium payments. Our seamless tech solutions make transactions accessible and efficient

                                    </p>
                                </div>
                                <!---====Features Heading===-->
                                <div class="row">
                                    <section id="portfolio-details" class="portfolio-details">
                                        <div class="container ">

                                            <div class="row gy-4">
                                                
                                                <div class="col-lg-12 slider-key">
                                                    <div class="portfolio-details-slider swiper">
                                                        <div class="swiper-wrapper align-items-center">

                                                            <div class="swiper-slide">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <br />
                                                                        <h5 class="top-title mt-5" style="text-align: left;">KEY FEATURES</h5>
                                                                        <h1 class="mt-3" style="text-align: left;">Effortlessly Stay on Top of Your Bill Payments</h1>
                                                                        <br />
                                                                        <p class="mt-4" style="text-align: left;">Enjoy the convenience of paying all your utility bills from one central dashboard or app, eliminating the stress of missed deadlines and the hassle of waiting in long queues</p>
                                                                    </div>
                                                                    <div class="col-md-6"><img src="~/Content/assets_loc/images/Illustration3.png" alt=""></div>
                                                                </div>

                                                            </div>

                                                            <div class="swiper-slide">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <br />
                                                                        <h5 class="top-title mt-5" style="text-align: left;">KEY FEATURES</h5>
                                                                        <h1 class="mt-3" style="text-align: left;">Feature Heading</h1>
                                                                        <br />
                                                                        <p class="mt-4" style="text-align: left;">There are many variations of passages of Lorem Ipsum, but majority have suffered alteration is some form</p>
                                                                    </div>
                                                                    <div class="col-md-6"><img src="~/Content/assets_loc/images/Illustration1.png" alt=""></div>
                                                                </div>
                                                            </div>

                                                            <div class="swiper-slide">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <br />
                                                                        <h5 class="top-title mt-5" style="text-align: left;">KEY FEATURES</h5>
                                                                        <h1 class="mt-3" style="text-align: left;">Feature Heading</h1>
                                                                        <br />
                                                                        <p class="mt-4" style="text-align: left;">There are many variations of passages of Lorem Ipsum, but majority have suffered alteration is some form</p>
                                                                    </div>
                                                                    <div class="col-md-6"><img src="~/Content/assets_loc/images/Illustration2.png" alt=""></div>
                                                                </div>
                                                            </div>

                                                        </div>





                                                        <div class="swiper-pagination"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </section>
                                </div>


                                <!--==== End Features Heading ====-->


                            </div>

                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>

        </section><!-- End About Section -->
        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients">

            <div class="container" data-aos="fade-up">

                <header class="section-header">
                    <h5 class="top-title">Trusted By</h5>
                </header>

                <div class="clients-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><img src="~/Content/assets_loc/images/PNB.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Content/assets_loc/images/BBPS (1).png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Content/assets_loc/images/Fastag (1).png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Content/assets_loc/images/Prabhu.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Content/assets_loc/images/clients/client-5.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Content/assets_loc/images/clients/client-6.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Content/assets_loc/images/clients/client-7.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/Content/assets_loc/images/clients/client-8.png" class="img-fluid" alt=""></div>
                    </div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
            </div>

        </section><!-- End Clients Section -->
        <!-- ======= F.A.Q Section ======= -->
        <section id="why" class="faq">

            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <h5 class="top-title">WHY US</h5>
                </header>

                <div class="row">
                    <div class="col-lg-12" style="text-align: left;">
                        <h1 style="text-align: left;">How our product are different?</h1>
                        <p class="mt-5">There are many variations of passages of Lorem Ipsum, but majority have suffered</p>
                    </div>
                </div>
                <section id="features" class="features" style="padding: 0%;">

                    <div class="container" data-aos="fade-up">

                        <!-- Feature Icons -->
                        <div class="row feature-icons" data-aos="fade-up">

                            <div class="col-xl-12 d-flex content">
                                <div class="row align-self-center gy-4 pt-2">

                                    <div class="col-md-4 icon-box" data-aos="fade-up">

                                        <div>
                                            <h4>Earn Handsome</h4>
                                            <p>Every Transaction through FindiPay makes more money for you</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="100">

                                        <div>
                                            <h4>No Investment</h4>
                                            <p>There are many variation from passage of Lorem Ipsum</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="200">

                                        <div>
                                            <h4>Dedicated Helpdesk</h4>
                                            <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="300">

                                        <div>
                                            <h4>Safe & Secure</h4>
                                            <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="400">

                                        <div>
                                            <h4>Trusted Partners</h4>
                                            <p>Et fuga et deserunt et enim. Dolorem architecto ratione tensa raptor marte</p>
                                        </div>
                                    </div>

                                    <div class="col-md-4 icon-box" data-aos="fade-up" data-aos-delay="500">

                                        <div>
                                            <h4>User Friendly Portal</h4>
                                            <p>Est autem dicta beatae suscipit. Sint veritatis et sit quasi ab aut inventore</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Feature Icons -->
                    </div>
                </section><!-- End Features Section -->
            </div>
        </section><!-- End F.A.Q Section -->
        <!-- ======= Counts Section ======= -->
        <!-- End Counts Section -->
        <!-- ======= Features Section ======= -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">

            <div class="container" data-aos="fade-up">

                <header class="section-header text-white">
                    <h5 CLASS="top-title">
                        PARENT COMPANY
                    </h5>
                    <h1>Transaction Solutions International (TSI)</h1>
                    <p>
                        TSI Indian is the one of the Largest Payment Solution Comapneis which offers its services to
                        over 40+ Banks and Institutions and 20+ largest Public Sector Banks in addition to providing
                        services to Utility Companies across India.
                    </p>
                </header>

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-box ">

                            <img class="mb-3" src="~/Content/assets_loc/images/transactions.png" />
                            <h5>₹<span data-purecounter-start="0" data-purecounter-end="400" data-purecounter-duration="1" class="purecounter"></span>+ Cr Daily</h5>
                            <p>Procession</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-box ">

                            <img class="mb-3" src="~/Content/assets_loc/images/daily_pro.png" />
                            <h5>₹<span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>+ Cr Monthly</h5>
                            <p>Transaction</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-box ">

                            <img class="mb-3" src="~/Content/assets_loc/images/services.png" />
                            <h5><span data-purecounter-start="0" data-purecounter-end="40" data-purecounter-duration="1" class="purecounter"></span>+ Serviced</h5>
                            <p>Institutions</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="service-box ">
                            <img class="mb-3" src="~/Content/assets_loc/images/20plus_states.png" />
                            <h5><span data-purecounter-start="0" data-purecounter-end="400" data-purecounter-duration="1" class="purecounter"></span>+ States</h5>
                            <p>Covered</p>
                        </div>
                    </div>



                </div>

            </div>

        </section><!-- End Services Section -->
        <!-- ======= Pricing Section ======= -->
        <section id="contact-main" class="contact-main">

            <div class="container" data-aos="fade-up">
                <div class="row p-5">
                    <div class="col-md-12 contact-tile">
                        <div class="row text-center pt-5">
                            <h5 class="top-title mt-5">CONTACT US</h5>

                            <H1 class="mt-3">Ready to Launch Your New Store?</H1>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-4 contact-detail">
                                        <img src="~/Content/assets_loc/images/Phone Icon.png" alt="Phone Icon" />
                                        <h5 style="display: inline;">+91-9876543210</h5>
                                    </div>
                                    <div class="col-md-4 contact-detail" style="align-items:center">
                                        <img src="~/Content/assets_loc/images/Email Icon.png" alt="Phone Icon" />
                                        <h5 style="display: inline;">hello@findipay.in</h5>
                                    </div>
                                    <div class="col-md-4 contact-detail " style="padding-left:7%;">
                                        <img src="~/Content/assets_loc/images/Website icon.png" alt="Phone Icon" />
                                        <h5 style="display: inline;">www.findipay.in</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10" data-aos="fade-up">
                                <div class="row form-tile">
                                    <div class="col-lg-12">
                                        <form action="forms/contact.php" method="post" class="php-email-form">
                                            <div class="row gy-4">

                                                <div class="col-md-6">
                                                    <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                                                </div>

                                                <div class="col-md-6 ">
                                                    <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                                                </div>

                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                                                </div>

                                                <div class="col-md-12">
                                                    <textarea class="form-control" style="resize: none;" name="message" rows="6" placeholder="Message" required></textarea>
                                                </div>

                                                <div class="col-md-12 text-center">
                                                    <div class="loading">Loading</div>
                                                    <div class="error-message"></div>
                                                    <div class="sent-message">Your message has been sent. Thank you!</div>

                                                    <button type="submit">Submit</button>
                                                </div>

                                            </div>
                                        </form>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>



            </div>

            </div>

        </section><!-- End Pricing Section -->
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6">
                        <span>&copy; 2018 - 2022 Transaction Solution International (India) Pvt Ltd. All Rights Reserved.</span>

                    </div>
                    <div class="col-md-6">
                        <ul style="display: inline;">

                            <li><a class="scrollto text-white" href="#hero">HOME</a> |</li>
                            <li><a class="scrollto text-white" href="#about">ABOUT US</a> |</li>
                            <li><a class="nscrollto text-white" href="#contact-main">CONTACT</a> |</li>
                            <li><a class="scrollto text-white" href="#">PRIVACY PPLICY</a> |</li>
                            <li><a class="scrollto text-white" href="#">TERMS OF USE</a> |</li>
                            <li><a class="scrollto text-white" href="#">SECURITY</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



    <!-----======================================================------>
    <!--------Modal---------->
    <!-----======================================================------>
    <div class="modal fade right" id="fluidModalRightSuccessDemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="false" data-backdrop="true">
        <div class="modal-dialog modal-full-height modal-right modal-notify modal-success" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="modal-header-title">Welcome back!</p>
                    <span>Securely login by entering the information below</span>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <form>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form1Example1" class="form-control" />
                            <label class="form-label" for="form1Example1">Agent ID</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-2">
                            <input type="password" id="form1Example2" class="form-control" />
                            <label class="form-label" for="form1Example2">Password</label>
                        </div>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-5 for-rem">
                            <div class="col d-flex">
                                <!-- Checkbox -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                                    <label class="form-check-label" for="form1Example3"> Remember me </label>
                                </div>
                            </div>

                            <div class="col">
                                <!-- Simple link -->
                                <a style="float:right" href="#!">Forgot password?</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <button type="submit" class="login-btn btn btn-primary btn-block">Proceed</button>
                            </div>
                            <div class="col-sm-2"></div>
                        </div>
                    </form>

                </div>
                <div class="separator">Or</div>
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <p>Don't have an account?</p><br/>
                    <a href="#">Sign Up</a>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>



    <!-- Vendor JS Files -->
    <script src="~/Content/assets_loc/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Content/assets_loc/vendor/aos/aos.js"></script>
    <script src="~/Content/assets_loc/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets_loc/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/assets_loc/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets_loc/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/assets_loc/vendor/purecounter/purecounter_vanilla.js"></script>
    <!-- Template Main JS File -->
    <script src="~/Content/md_assest/js/mdb.min.js"></script>
    <script type="text/javascript" src="https://mdbcdn.b-cdn.net/wp-content/themes/mdbootstrap4/docs-app/js/bundles/4.20.0/compiled.min.js"></script>
    <script src="~/Content/assets_loc/js/main.js"></script>

</body>

</html>